name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Test with latest patch versions
          - ruby: '4.0.1'
            reline: '~> 0.6.0'
          - ruby: '3.4'
            reline: '~> 0.6.0'

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: false
      - name: Install dependencies
        run: |
          bundle install --jobs 4 --retry 3
        env:
          RAILS_VERSION: ${{ matrix.reline }}
      - name: Run the default task
        run: bundle exec rake
